/*** Custom font section ***/
@font-face
  font-family: 'proxima-nova-soft'
  font-weight: normal
  font-style: normal
  src: url('/content/fonts/proximanovasoft-regular-webfont.woff2') format('woff2'), url('/content/fonts/proximanovasoft-regular-webfont.woff') format('woff')

*
    @include box-sizing(border-box)


/*** Layout related section ***/
body
    font-family: $default-font
    background-color: $default-body-color
    padding: 0
    margin: 0

a
    text-decoration: none
    color: inherit

.container
    /*** Mobile very small screen section ***/
    @extend %base-container
    width: 100%
    font-size: 86.5%

    &__header
        font-size: 1.5em
        text-align: center
    &__articles
        padding: 10px

    /*** Mobile section ***/
    @media screen and (min-device-width: $phone-min-screen-width) and (min-width: $phone-min-screen-width)
        font-size: 92.5%
        .post
            float: left
            margin: 0 20px 20px
    /*** Tablet section ***/
    @media screen and (min-device-width: $tablet-min-screen-width) and (min-width: $tablet-min-screen-width)
        .post
            width: 44%
    /*** Desktop section ***/
    @media screen and (min-device-width: $tablet-max-screen-width) and (min-width: $tablet-max-screen-width)
        &__articles
            padding: 0 0 0 3%
        .post
            width: 28.3%
            &:nth-child(4n)
                clear: both
    @media screen and (min-device-width: $desktop-min-screen-width) and (min-width: $desktop-min-screen-width)
        &__articles
            padding: 0 0 0 6%
        .post
            width: 28.3%
            &:nth-child(4n)
                clear: both
    @media screen and (min-device-width: $desktop-max-screen-width) and (min-width: $desktop-max-screen-width)
        &__articles
            padding: 0 0 0 15%
        .post
            width: 25.3%
            max-width: 40em
            &:nth-child(4n)
                clear: both